body {
    width: 1530px;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f5f6fa;
}

.sidebar {
    width: 220px;
    background-color: #2c3e50;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.sidebar ul li a.active, .sidebar ul li a:hover {
    background-color: #576879;
}

.main-content {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
}

header input {
    padding: 5px 10px;
    width: 200px;
}

.dashboard-cards {
    display: flex;
    gap: 20px;
}
.dashboard-cards :hover{
    transform: scale(1.05);
    transition: transform 0.2s;
    background-color: rgb(205, 205, 205);
}
.dashboard-image {
    display: block;
    margin: 10px auto;
    width: 80%;
    height: auto;
}
.logo-kampus{
    width: 80px;
    margin-left: 65px;
}


.card {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.card h3 {
    margin:10px;
    font-size: 16px;
}

.card p {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.card.orange {
    border-top: 6px solid orange;
}

.card.blue {
    border-top: 6px solid #3498db;
}

.card.green {
    border-top: 6px solid #2ecc71;
}

.card.red {
    border-top: 6px solid #e74c3c;
}

footer {
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
    color: #666;
}
